{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"importOrderSeparation": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"interface",
		"(?=content|api)",
		"context/",
		"mock/",
		"config",
		"utils/",
		"hooks/",
		"(components/|./index)",
		".svg",
		"^../(.*)$",
		"(?=./styles.module.scss)"
	],
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
